<!DOCTYPE html>
<html ng-app="app">
<head>
  <title>Companies Manager</title>
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/main.css">
</head>
<body>
  <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/#/companies">Companies manager</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <!--<li><a href="/#/">Home</a></li>-->
          <li><a href="/#/companies">Companies</a></li>
        </ul>
      </div><!-- /.nav-collapse -->
    </div><!-- /.container -->
  </div>
  <div class="container" ng-view></div>

  <!--SCRIPTS LOAD-->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular-resource.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular-route.min.js"></script>
  <script type="text/javascript" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
  <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/lib/angular-file-upload.min.js"></script>
  <script type="text/javascript" src="js/_js/companies.js"></script>
  <script type="text/javascript" src="js/_js/owners.js"></script>
  <script type="text/javascript" src="js/_js/app.js"></script>
  <!--END SCRIPTS-->

</body>
</html>