<!DOCTYPE html>
<html ng-app>
<head>
  <title>Companies Manager</title>
</head>
<body>
  <h1>Hello company!</h1>

  <!--SCRIPTS LOAD-->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular-resource.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular-route.min.js"></script>
  <!--END SCRIPTS-->
</body>
</html>