<!DOCTYPE html>
<html ng-app="app">
<head>
  <title>Companies Manager</title>
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
</head>
<body>

  <div ng-view></div>

  <!--SCRIPTS LOAD-->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular-resource.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular-route.min.js"></script>
  <script type="text/javascript" src="js/_js/companies.js"></script>
  <script type="text/javascript" src="js/_js/app.js"></script>
  <!--END SCRIPTS-->

  <script type="text/ng-template" id="home.html">
    <h1>Hello company!</h1>
  </script>

  <script type="text/ng-template" id="company_index.html">
    <h1>Index</h1>
  </script>
</body>
</html>