
<form class="form-horizontal" role="form" ng-show="editing">
  <div class="form-group">
    <div class="col-sm-offset-1 col-sm-4">
      <h3 ng-show="isNew">New company</h3>
      <h3 ng-hide="isNew">{{ company.name }}</h3>
    </div>
  </div>
  <div class="form-group">
    <label for="inputName" class="col-sm-1 control-label">Name</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="inputName" placeholder="Name" ng-model="company.name" required>
    </div>
  </div>
  <div class="form-group">
    <label for="inputAddress" class="col-sm-1 control-label">Address</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="inputAddress" placeholder="Address" ng-model="company.address" required>
    </div>
  </div>
  <div class="form-group">
    <label for="inputCity" class="col-sm-1 control-label">City</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="inputCity" placeholder="City" ng-model="company.city" required>
    </div>
  </div>
  <div class="form-group">
    <label for="inputCountry" class="col-sm-1 control-label">Country</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="inputCountry" placeholder="Country" ng-model="company.country" required>
    </div>
  </div>
  <div class="form-group">
    <label for="inputEmail" class="col-sm-1 control-label">Email</label>
    <div class="col-sm-4">
      <input type="email" class="form-control" id="inputEmail" placeholder="Email" ng-model="company.email">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPhone" class="col-sm-1 control-label">Phone</label>
    <div class="col-sm-4">
      <input type="tel" class="form-control" id="inputPhone" placeholder="Phone" ng-model="company.phone" required>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-1 col-sm-4">
      <button type="submit" class="btn btn-success" ng-click="save(company)">Save</button>
      <button ng-hide="isNew" class="btn btn-default" ng-click="editToggle()">Cancel</button>
      <a href="/#/companies" ng-show="isNew" class="btn btn-default">Cancel</a>
    </div>
  </div>
</form>

<form class="form-horizontal" role="form" ng-hide="editing">
  <div class="form-group">
    <div class="col-sm-offset-1 col-sm-4">
      <h3>{{ company.name }}</h3>
    </div>
  </div>
  <div class="form-group">
    <label for="inputName" class="col-sm-1 control-label">Name</label>
    <div class="col-sm-4">
      <p class="form-control-static">{{ company.name }}</p>
    </div>
  </div>
  <div class="form-group">
    <label for="inputAddress" class="col-sm-1 control-label">Address</label>
    <div class="col-sm-4">
      <p class="form-control-static">{{ company.address }}</p>
    </div>
  </div>
  <div class="form-group">
    <label for="inputCity" class="col-sm-1 control-label">City</label>
    <div class="col-sm-4">
      <p class="form-control-static">{{ company.city }}</p>
    </div>
  </div>
  <div class="form-group">
    <label for="inputCountry" class="col-sm-1 control-label">Country</label>
    <div class="col-sm-4">
      <p class="form-control-static">{{ company.country }}</p>
    </div>
  </div>
  <div class="form-group">
    <label for="inputEmail" class="col-sm-1 control-label">Email</label>
    <div class="col-sm-4">
      <p class="form-control-static">{{ company.email }}</p>
    </div>
  </div>
  <div class="form-group">
    <label for="inputPhone" class="col-sm-1 control-label">Phone</label>
    <div class="col-sm-4">
      <p class="form-control-static">{{ company.phone }}</p>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-1 col-sm-4">
      <a href="/#/companies" class="btn btn-default">Back</a>
      <button class="btn btn-primary" ng-click="editToggle()">Edit</button>
    </div>
  </div>
</form>

<form ng-hide="isNew" class="form-horizontal" role="form" ng-controller="OwnersCtrl">
  <div class="form-group">
    <div class="col-sm-offset-1 col-sm-4">
      <h4>Owners</h4>
    </div>
  </div>
  <div class="form-group" ng-show="owners.length > 0">
    <label class="col-sm-1 control-label"> </label>
    <div class="col-sm-4">
      <table class="table table-condensed borderless">
        <tr ng-repeat="o in owners">
          <td>{{o.name}}</td>
          <td style="text-align: right">
            <a href="{{o.attachment_url}}" class="btn btn-default btn-xs">PDF</a>
            <button class="btn btn-danger btn-xs" ng-click="delete(o)">Delete</button>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="form-group" ng-show="editing">
    <label for="inputOwnerName" class="col-sm-1 control-label"> </label>
    <div class="col-sm-4">
      <table>
        <tr>
          <td colspan="2"><input id="inputOwnerName" type="text" class="form-control" ng-model="owner.name" placeholder="Owner name" required></td>
        </tr>
        <tr>
          <td><input id="attachment" type="file" ng-file-select="fileSelected($files)"></td>
          <td></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-1 col-sm-4">
      <button formnovalidate class="btn btn-primary" ng-hide="editing" ng-click="editToggle()">Add owner</button>
      <button class="btn btn-default" ng-show="editing" ng-click="editToggle()">Cancel</button>
      <button type="submit" ng-show="editing" class="btn btn-success btn-sm" ng-click="save(owner)">Add owner</button>
    </div>
  </div>
</form>